body {
    background-color: rgb(25, 31, 61);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    text-align: center;
    font-size: 400%;
    background: #ffffff80;
    width: 90%;
    max-width: 800px;
    margin: 100px auto 0;
    padding: 30px;
    border-radius: 10px;

}

.btn{
    background: #dadada;
    color: #000;
    font-weight: 700;
    font-size: large;
    border: 1px solid #222;
    margin: 13px 0;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;

}
.btn:hover{
    background: #444444;
    color: #fff;
}

.table{
    background: #ffffff80;
    width: 50%;
    max-width: 500px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 50px;
    text-align: center;
}





#flag{
    margin-top: 20px;
    max-height: 240px;
    }


